:root{
    --black: #1f2d3d;
    --muted: #8492a6;
    --white: #eeeeee;
    --red: #ec3750;
    --yelow: #f1c40f;
    --green: #33d6a6;
    --cyan: #5bc0de;
    --blue: #338eda;
    --purple: #a633d6;
    --cf-primary-blue: #53bfffff;
    --cf-primary-orange: #ffa23c;
    --cf-secondary-navy: #384fbc;
    --cf-secondary-green: #52cb77;
    --cf-secondary-brown: #ad684f;
    --cf-secondary-teal: #9be8fe;
    --cf-secondary-tortoise: #57ecd6;
}

@font-face {
    font-family: 'Dream Planner';
    src: url('./fonts/dream-planner-font-duo/dreamplanner.otf') format('opentype');
}

@font-face{
    font-family: 'Ember Fire';
    src: url('./fonts/ember-fire-font/ember-fire.otf') format('opentype');
}

#title{
    position: relative;
    z-index: 1;
}

#title h1{
    font-family: 'Dream Planner', sans-serif;
    font-size: 7rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--cf-secondary-brown);
}

#container{
    position: relative;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

#bg-map{
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

#join-container {
    align-items: center;
}

#video-container{
    width: 100%;
    height: 40rem;
}

body{
    background: var(--cf-primary-blue) linear-gradient(37deg, var(--cf-primary-blue) 0%, var(--cf-secondary-navy) 100%);
    text-align: center;
}